group/Service References/snGroup/sys_user_group.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://www.service-now.com/sys_user_group" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sncns="http://www.service-now.com" targetNamespace="http://www.service-now.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.service-now.com/sys_user_group">
      <xsd:element name="getKeys">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="active" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="cost_center" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="default_assignee" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="description" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="email" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="exclude_manager" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="include_members" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="manager" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="name" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="parent" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="roles" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="source" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_created_by" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_created_on" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_mod_count" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_updated_by" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_updated_on" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="type" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_order" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="__use_view" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="__encoded_query" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="__limit" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="__first_row" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="__last_row" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getKeysResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="sys_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="count" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="get">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="sys_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="__use_view" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="active" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="cost_center" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="default_assignee" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="description" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="email" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="exclude_manager" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="include_members" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="manager" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="name" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="parent" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="roles" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="source" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_created_by" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_created_on" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_mod_count" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_updated_by" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_updated_on" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="type" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_order" type="xsd:integer" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getRecords">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="active" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="cost_center" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="default_assignee" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="description" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="email" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="exclude_manager" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="include_members" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="manager" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="name" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="parent" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="roles" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="source" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_created_by" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_created_on" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_mod_count" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_updated_by" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_updated_on" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="type" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_order" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="__use_view" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="__encoded_query" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="__limit" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="__first_row" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="__last_row" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="__order_by" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="__order_by_desc" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="__exclude_columns" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getRecordsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="getRecordsResult">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="1" name="active" type="xsd:boolean" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="cost_center" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="default_assignee" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="description" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="email" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="exclude_manager" type="xsd:boolean" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="include_members" type="xsd:boolean" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="manager" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="name" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="parent" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="roles" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="source" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="sys_created_by" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="sys_created_on" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="sys_id" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="sys_mod_count" type="xsd:integer" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="sys_updated_by" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="sys_updated_on" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="type" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="u_order" type="xsd:integer" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="update">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="active" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="cost_center" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="default_assignee" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="description" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="email" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="exclude_manager" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="include_members" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="manager" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="name" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="parent" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="roles" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="source" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="sys_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="type" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_order" type="xsd:integer" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_id" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="insert">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="active" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="cost_center" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="default_assignee" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="description" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="email" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="exclude_manager" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="include_members" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="manager" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="name" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="parent" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="roles" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="source" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="type" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_order" type="xsd:integer" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="insertResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="name" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="active" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="cost_center" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="default_assignee" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="description" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="email" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="exclude_manager" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="include_members" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="manager" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="name" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="parent" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="roles" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="source" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_created_by" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_created_on" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_mod_count" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_updated_by" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_updated_on" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="type" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_order" type="xsd:integer" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteMultipleResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="count" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteRecord">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="sys_id" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteRecordResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="count" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="deleteRecordSoapIn">
    <wsdl:part name="sys_user_group" element="tns:deleteRecord" />
  </wsdl:message>
  <wsdl:message name="getRecordsSoapIn">
    <wsdl:part name="sys_user_group" element="tns:getRecords" />
  </wsdl:message>
  <wsdl:message name="getSoapIn">
    <wsdl:part name="sys_user_group" element="tns:get" />
  </wsdl:message>
  <wsdl:message name="deleteMultipleSoapOut">
    <wsdl:part name="sys_user_group" element="tns:deleteMultipleResponse" />
  </wsdl:message>
  <wsdl:message name="getSoapOut">
    <wsdl:part name="sys_user_group" element="tns:getResponse" />
  </wsdl:message>
  <wsdl:message name="insertSoapIn">
    <wsdl:part name="sys_user_group" element="tns:insert" />
  </wsdl:message>
  <wsdl:message name="getKeysSoapIn">
    <wsdl:part name="sys_user_group" element="tns:getKeys" />
  </wsdl:message>
  <wsdl:message name="getKeysSoapOut">
    <wsdl:part name="sys_user_group" element="tns:getKeysResponse" />
  </wsdl:message>
  <wsdl:message name="updateSoapOut">
    <wsdl:part name="sys_user_group" element="tns:updateResponse" />
  </wsdl:message>
  <wsdl:message name="deleteRecordSoapOut">
    <wsdl:part name="sys_user_group" element="tns:deleteRecordResponse" />
  </wsdl:message>
  <wsdl:message name="deleteMultipleSoapIn">
    <wsdl:part name="sys_user_group" element="tns:deleteMultiple" />
  </wsdl:message>
  <wsdl:message name="insertSoapOut">
    <wsdl:part name="sys_user_group" element="tns:insertResponse" />
  </wsdl:message>
  <wsdl:message name="getRecordsSoapOut">
    <wsdl:part name="sys_user_group" element="tns:getRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="updateSoapIn">
    <wsdl:part name="sys_user_group" element="tns:update" />
  </wsdl:message>
  <wsdl:portType name="ServiceNowSoap">
    <wsdl:operation name="insert">
      <wsdl:input message="sncns:insertSoapIn" />
      <wsdl:output message="sncns:insertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input message="sncns:updateSoapIn" />
      <wsdl:output message="sncns:updateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteMultiple">
      <wsdl:input message="sncns:deleteMultipleSoapIn" />
      <wsdl:output message="sncns:deleteMultipleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getKeys">
      <wsdl:input message="sncns:getKeysSoapIn" />
      <wsdl:output message="sncns:getKeysSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteRecord">
      <wsdl:input message="sncns:deleteRecordSoapIn" />
      <wsdl:output message="sncns:deleteRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get">
      <wsdl:input message="sncns:getSoapIn" />
      <wsdl:output message="sncns:getSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getRecords">
      <wsdl:input message="sncns:getRecordsSoapIn" />
      <wsdl:output message="sncns:getRecordsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceNowSoap" type="sncns:ServiceNowSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insert">
      <soap:operation soapAction="http://www.service-now.com/sys_user_group/insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap:operation soapAction="http://www.service-now.com/sys_user_group/update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteMultiple">
      <soap:operation soapAction="http://www.service-now.com/sys_user_group/deleteMultiple" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getKeys">
      <soap:operation soapAction="http://www.service-now.com/sys_user_group/getKeys" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteRecord">
      <soap:operation soapAction="http://www.service-now.com/sys_user_group/deleteRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get">
      <soap:operation soapAction="http://www.service-now.com/sys_user_group/get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRecords">
      <soap:operation soapAction="http://www.service-now.com/sys_user_group/getRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceNow_sys_user_group">
    <wsdl:port name="ServiceNowSoap" binding="sncns:ServiceNowSoap">
      <soap:address location="https://kuitdev.service-now.com/sys_user_group.do?SOAP" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>